

body {
  padding: 0px;
  margin: 0px;
}

nav {
  box-sizing: border-box;
  display: inline-block;
	border: 3px solid #000000;
	background-color: #AC1113;
	color: white;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	height: auto;
	border-radius: 0px 0px 4px 4px;
	font-family: Calibri;
}

.nav-icon {
  vertical-align: middle;
}

.nav-menu {
  box-sizing: border-box;
  float: right;
  position: relative;
  right: 15px;
  vertical-align: middle;
}

.nav-menu ul {
  padding: 0px;
  vertical-align: inherit;
}

.nav-menu ul li {
  display: inline-block;
  list-style: none;
  font-size: 24px;
  padding: 1px;
  vertical-align: inherit;
}

.nav-menu ul a {
  color: white;
  text-decoration: none;
  padding: 10px;
  vertical-align: inherit;
}

.nav-menu ul li:hover > a {
  color: #C5C5C5;
  /*
  font-weight: bold;
  */
}

#home-name {
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}